#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-14dfa269-c177-4be8-8332-9a8fde86fc9d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}