#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}