#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-32202a6a-d9eb-4406-8315-f9ef9966f3a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}