#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4b03c72c-25f0-432b-94cd-67c1e52a6f4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}