#s-673c47a2-208c-4e8e-8e80-3be3391d70ac > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 357px;
  height: 64px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Image_1 {
  position: absolute;
  top: 73px;
  left: 190px;
  width: 167px;
  height: 154px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_2 {
  position: absolute;
  top: 275px;
  left: 204px;
  width: 56px;
  height: 59px;
  background-color: #00FF00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_3 {
  position: absolute;
  top: 275px;
  left: 278px;
  width: 56px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_1 {
  position: absolute;
  top: 236px;
  left: 206px;
  width: 127px;
  height: 29px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Group_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 185px;
  height: 201px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_4 {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 181px;
  height: 188px;
  background-color: #689ACA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Paragraph_1 {
  position: absolute;
  top: 0px;
  left: 16px;
  width: 158px;
  height: 186px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_2 {
  position: absolute;
  top: 436px;
  left: 11px;
  width: 328px;
  height: 52px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_3 {
  position: absolute;
  top: 375px;
  left: 11px;
  width: 328px;
  height: 52px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_4 {
  position: absolute;
  top: 498px;
  left: 11px;
  width: 328px;
  height: 52px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_5 {
  position: absolute;
  top: 559px;
  left: 11px;
  width: 328px;
  height: 52px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_1 {
  position: absolute;
  top: 267px;
  left: 11px;
  width: 196px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_5 {
  position: absolute;
  top: 307px;
  left: 30px;
  width: 151px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_2 {
  position: absolute;
  top: 311px;
  left: 36px;
  width: 137px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac #s-Text_2 span#rtr-s-Text_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-673c47a2-208c-4e8e-8e80-3be3391d70ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}