#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Text_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 9px;
  margin-top: -10px;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7c00c6a2-0045-4a30-afc6-c8cce9c3f262 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}