#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-898b2337-dc02-4913-aa7d-90fe109002de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}