#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a5d2168f-f2ad-4236-bf34-81ba2fb42e3c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}